body {
  margin: 0 0 0 0;
  font-family: monospace;
}

.header {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("images/banner.jpg");
  object-fit: scale-down;
}

.header img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.intro p {
  font-size: 15px;
  line-height: 1rem;
}

.intro h1 {
  font-size: 40px;
}
.tech-stack {
  flex-grow: 1;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}

h2 {
  padding-bottom: 20px;
  font-size: 25px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.icons img {
  height: 60px;
  width: 100px;
  object-fit: contain;
}

.main-section {
  display: flex;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.dashboard {
  margin-top: 30px;
  padding: 40px;
  text-align: center;
  border-radius: 0  30px 30px 0;
  background-color: #F4F6F6;
  max-width: 20vw;
}

.language {
  display: flex;
  justify-content: space-between;
}
