body {
  margin: 2vw 10vw;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  background-color: #006385;
  margin-left: 60px;
  border-radius: 30px;
  color: white;
  position: relative;
}

.header img {
  height: 250px;
  width: 250px;
  border-radius: 30px;
  object-fit: cover;
  position: absolute;
  bottom: -70px;
  right: 150px;
}

.intro p {
  padding-top: 50px
}

.intro h1 {
  font-size: 35px;
}
.tech-stack {
  flex-grow: 1;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}

h2 {
  padding-bottom: 20px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.icons img {
  height: 60px;
  width: 100px;
  object-fit: contain;
}

.main-section {
  display: flex;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.dashboard {
  margin-top: 30px;
  padding: 40px;
  text-align: center;
  border-radius: 0  30px 30px 0;
  background-color: #F4F6F6;
  max-width: 20vw;
}

.language {
  display: flex;
  justify-content: space-between;
}
